//================
//  GENERAL
@import "../node_modules/normalize.css/normalize.css";
@font-face {
  font-family: 'font';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/OakesGrotesk-Semi-Bold.woff.woff2') format('woff2');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/OakesGrotesk-Semi-Bold.woff.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  overscroll-behavior: none;
}

html, body{
  height: 100%;
  overflow: hidden;
}

body{
font-family: 'helvetica neue';
padding: 0;
margin: 0;
background-color: #111;
user-select: none;
}

h1, h2{
font-weight: normal;
}

* {
box-sizing: border-box;
}

figure{
padding: 0;
margin: 0;
}

//==================
// SLIDER

.coverflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  overflow-y: hidden;
}

.scroll {
  cursor: grab;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.scroll-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  white-space: nowrap;
  position: absolute;
  height: 100vh;
  transform: translate3d(0, 0, 0);
}

.slide {
  display: flex;
  width: 50vw; 
  height: 100%;
  padding: 30vh 10vh;
  // position: absolute;

  &--1 {
    align-items: flex-start;
  }

  &--2 {
    align-items: flex-end;
  }

  &--3 {
    align-items: center;
  }

  // &:last-child {
  //   width: 65vw;
  //   padding-right: 15vw;
  // }

  // &__inner {
  // }

  &__img {
    position: relative;
    overflow: hidden;
    width: calc(50vw - 20vh);
    height: calc((50vw - 20vh)*21/29.7);

    figure {
      width: inherit;
      height: inherit;

      img {
        position: absolute;
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }

}