* {
  box-sizing: border-box;
}

:root {
  --aspect-ratio: 3/2;
  --calc-aspect-ratio: calc(100% * 1/(var(--aspect-ratio)));
}

html {
  // To hide scrollbar in Firefox and make slider work in Safari
  overflow: hidden;
}

body {
  background-color: #000000;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  overflow-y: scroll;
  overscroll-behavior: none;
}

figure {
  margin: 0;
  padding: 0;
}

a {
  display: block;
}

main {

  .scroll {
    position: absolute;
    display: flex;
    height: 100vh;

    .slide {
      height: 100%;
      width: 50vw;
      padding: 20vh 0;
      display: flex;

      &__inner {
        width: 100%;
        padding-left: 15vw;

      }

      &:nth-of-type(even) {
        align-items: flex-end;
      }

      &__figure {
        position: relative;
        height: 0;
        width: 100%;
        padding-top: var(--calc-aspect-ratio);
        overflow: hidden;
        background-color: #ffffff;

        img {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          object-fit: cover;
        }
      }
    }
  }
}
