body {
  margin: 0;
  background-color: #444;
}

svg {
  position: absolute;
  width: 1px;
  height: 1px;
}

.slider {
  position: relative;
  height: 600px;
  width: 900px;
  overflow: hidden;

  .slider__super-wrapper{
    position: absolute;
    width: 900px;
    height: 600px;
    top: 0;
    left: 0;
  }

  .slider__1 {
    clip-path: url(#myPath1);
  }

  .slider__2 {
    clip-path: url(#myPath2);
  }

  .slider__3 {
    clip-path: url(#myPath3);
  }

  .slider__wrap {
    position: absolute;
    width: 900px;
    height: 600px;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    transition: transform 0.4s linear;

    &.a {
      transform: translate(-100%, 0);
    }
  }

  .slider__current-slide, .slider__new-slide {
    position: absolute;
    width: 900px;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
  }

  .slider__new-slide {
    transform: translate(100%, 0);
  }
}